body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;

}

img {
    width: 1200px;
}



.pokemon-name {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-variant: small-caps;
    font-size: 80px;
    letter-spacing: 6px;
    color: #ffcd05d0;
    text-shadow: 
        -4px -4px 0 #3b4cca,  
         4px -4px 0 #3b4cca,
        -4px  4px 0 #3b4cca,
         4px  4px 0 #3b4cca;
}